h2{
    font-size: 35px;
    color: #FFFFFF;
    margin-left: 20px;

}
#small{
    color: #a5a5a5;
    font-size :25px;
}
hr{
    margin:20px;
    margin-left:0% ;
}
.app{
 width:100%;
    padding:10px;
   display: flex;
}
.left {
    margin: 30px;
}
.right {
    width:1200px;

}